
	doctype html
	html
	head
		script(type='text/javascript')
			import { Component, OnInit, ViewEncapsulation, ViewChild, OnDestroy, NgZone } from '@angular/core';
			import { TranslateService } from '@ngx-translate/core';

			import { FrmworkService } from "@shared/services/frmwork.service";
			import { CommunicatorService } from "@shared/services/communicator.service";
			import { RamdataService } from "@shared/services/ramdata.service";
			import { SettingsService } from "@core/settings/settings.service";
			import { DatatableComponent } from "@swimlane/ngx-datatable"

			import { Subject } from 'rxjs/Subject';
			import { BehaviorSubject } from 'rxjs/BehaviorSubject';
			const swal = require('sweetalert');
			declare let jQuery: any;
			@Component({
				selector: 'app-_user_operation',
				templateUrl: './_user_operation.component.html',
				styleUrls: ['./_user_operation.component.scss']
			})
			export class _user_operationComponent implements OnInit, OnDestroy {
				private destroy$: Subject<boolean> = new Subject<boolean>();
				public rows = [];
				public filterRslt = [];
				public filterstr = "";
				public filterTimer = null;
				loadingIndicator: boolean = true;

							public frmdata = {
				assigned : 0 ,
				uop_nid : 0 ,
				usr_nid : 0 ,
				op_nid : 0 ,
				uop_dcreate : undefined ,
				uop_vopcs :  ''  ,
				mdu_vcod :  ''  ,
				op_vcod :  ''  ,
				op_vname :  ''  ,
				op_vtype :  ''  ,
				usr_vname :  ''  ,
				cia_nid : 0 
			};
			public setters = {
			
			};

				// public isSuper = false; // =>> Si la tabla requiere identificacion por Compañias

				@ViewChild("table") table : DatatableComponent;
				constructor(
					public fwk: FrmworkService, private translate: TranslateService,
					public ram: RamdataService, public communicator: CommunicatorService,
					public settings: SettingsService,
					public zn: NgZone){

					// Si la tabla requiere identificacion por Compañias
					this.settings.credencialesS.takeUntil(this.destroy$).subscribe(x=>{
						try{
							this.frmdata.cia_nid = x['user']['cia_nid'];
						}catch(ex){
							this.frmdata.cia_nid = 0;
						}
					});

					this.ram.getDatos("_user_operation").takeUntil(this.destroy$).subscribe(data => {
						zn.run(()=>{
							this.rows = data;
							this.updateFilter(null);
						});
					});
					this.resetForm(null);
				}

				editBtn(e,rw){
					e && e.preventDefault();

					this.resetForm(null);
					for (let key in rw) {
						if (this.frmdata.hasOwnProperty(key)) {
							this.frmdata[key] = rw[key];
						}
					};
					this.frmdata.**_bsts == rw.**_bsts ? '1' : '0';
					// Sugerencia de edicion pata los tags
					
				};
				viewBtn(e, rw) {
					e && e.preventDefault();
				};
				delBtn(e, rw) {
					e && e.preventDefault();
					// if (rw.ESTADO  !=  0) {
					// 	swal(
					// 		'Ops',
					// 		this.translate.instant('ALGUN ERROR POR RESTRICCION DE BORRADO'),
					// 		'warning'
					// 	)
					// 	return;
					// }
					swal({
						title: this.translate.instant('rotulos.swal.deltit'),
						text: this.translate.instant('rotulos.swal.delquest'),
						type: 'warning',
						showCancelButton: true,
						confirmButtonText: this.translate.instant('rotulos.swal.yesdel'),
						cancelButtonText: 'No.'
					}).then((result) => {
						if (result.value) {
							this.communicator.del_user_operation(rw).subscribe(x => {
								// console.log(x);
								if (x.hasOwnProperty('type') && x['type'] == 'ok') {
									swal(
										'Deleted',
										'Ok!',
										'success'
									)
								}else{
									swal(
										'Ops',
										this.translate.instant(x['msg']) || "Somthing wrong...",
										'warning'
									)
								}
							});
						}
					});
				};
				saveBtn(e) {
					e && e.preventDefault();
					// ***** los tags a String en caso que existan
					
					// *******************************************************
					// VALIDAR LA INFORMACION ANTES DE HACER EL POST
					// *******************************************************
					let paso = true;
					!this.fwk.validInt(this.frmdata.assigned, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.assigned_rq')) )
				!this.fwk.validInt(this.frmdata.uop_nid, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.uop_nid_rq')) )
				!this.fwk.validInt(this.frmdata.usr_nid, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.usr_nid_rq')) )
				!this.fwk.validInt(this.frmdata.op_nid, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.op_nid_rq')) )
				!this.fwk.validString(this.frmdata.uop_vopcs, 2, 150) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.uop_vopcs_rq')) )
				!this.fwk.validString(this.frmdata.mdu_vcod, 2, 3) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.mdu_vcod_rq')) )
				!this.fwk.validString(this.frmdata.op_vcod, 2, 10) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.op_vcod_rq')) )
				!this.fwk.validString(this.frmdata.op_vname, 2, 100) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.op_vname_rq')) )
				!this.fwk.validString(this.frmdata.op_vtype, 2, 3) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.op_vtype_rq')) )
				!this.fwk.validString(this.frmdata.usr_vname, 2, 60) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.usr_vname_rq')) )
				!this.fwk.validInt(this.frmdata.cia_nid, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm._user_operation.cia_nid_rq')) )

					if	(paso){
						this.communicator.set_user_operation(this.frmdata).subscribe(x => {
							
						});
					}
				};
				resetForm(e) {
					e && e.preventDefault();
					// resetear con la formdata
				};
				updateFilter(e) {
					this.loadingIndicator = true;
					e && e.hasOwnProperty('preventDefault') && e.preventDefault();
					this.filterTimer && clearTimeout(this.filterTimer)
					this.filterTimer = setTimeout(() => {
						if (this.filterstr.trim().length>0)
							this.filterRslt = this.rows.filter((val, idx, arr)=>{
								return Object.keys(val).reduce((acum,current,idx)=>{
									val[current] && (acum = acum + '_' + val[current].toString());
									return acum;
								}, "").toUpperCase().indexOf(this.filterstr.toUpperCase()) > -1
							})
						else {this.filterRslt = this.rows}
						setTimeout(() => {
							this.loadingIndicator = false;
						}, 200);
					}, 700);
				}

				reload(e){
					e && e.preventDefault();
					this.loadingIndicator = true;
					if (e  && e.altKey) {
						this.communicator.get_user_operation(null).subscribe(x => {
							x && x.hasOwnProperty('type') && x.type == 'ok' &&  (this.rows = x.datos);
							this.updateFilter(null);
						});
					}else
						this.ram.getDatos("_user_operation",1,1);
				}
				ngOnInit() {
				};
				ngOnDestroy() {
					this.destroy$.next(true);
					this.destroy$.unsubscribe();
				};
							_user_operation :{
	"assigned": {
		"columna": "assigned",
		"predeterminado": null,
		"IS_NULLABLE": "YES",
		"datatype": "int",
		"maxlength": 0,
		"nsize": 10,
		"scala": 0,
		"primario": 0
	},
	"uop_nid": {
		"columna": "uop_nid",
		"predeterminado": null,
		"IS_NULLABLE": "YES",
		"datatype": "int",
		"maxlength": 0,
		"nsize": 10,
		"scala": 0,
		"primario": 0
	},
	"usr_nid": {
		"columna": "usr_nid",
		"predeterminado": null,
		"IS_NULLABLE": "NO",
		"datatype": "int",
		"maxlength": 0,
		"nsize": 10,
		"scala": 0,
		"primario": 0
	},
	"op_nid": {
		"columna": "op_nid",
		"predeterminado": null,
		"IS_NULLABLE": "NO",
		"datatype": "int",
		"maxlength": 0,
		"nsize": 10,
		"scala": 0,
		"primario": 0
	},
	"uop_dcreate": {
		"columna": "uop_dcreate",
		"predeterminado": null,
		"IS_NULLABLE": "YES",
		"datatype": "date",
		"maxlength": 0,
		"nsize": 0,
		"scala": 0,
		"primario": 0
	},
	"uop_vopcs": {
		"columna": "uop_vopcs",
		"predeterminado": null,
		"IS_NULLABLE": "YES",
		"datatype": "varchar",
		"maxlength": 150,
		"nsize": 0,
		"scala": 0,
		"primario": 0
	},
	"mdu_vcod": {
		"columna": "mdu_vcod",
		"predeterminado": null,
		"IS_NULLABLE": "NO",
		"datatype": "varchar",
		"maxlength": 3,
		"nsize": 0,
		"scala": 0,
		"primario": 0
	},
	"op_vcod": {
		"columna": "op_vcod",
		"predeterminado": null,
		"IS_NULLABLE": "NO",
		"datatype": "varchar",
		"maxlength": 10,
		"nsize": 0,
		"scala": 0,
		"primario": 0
	},
	"op_vname": {
		"columna": "op_vname",
		"predeterminado": null,
		"IS_NULLABLE": "NO",
		"datatype": "varchar",
		"maxlength": 100,
		"nsize": 0,
		"scala": 0,
		"primario": 0
	},
	"op_vtype": {
		"columna": "op_vtype",
		"predeterminado": null,
		"IS_NULLABLE": "NO",
		"datatype": "varchar",
		"maxlength": 3,
		"nsize": 0,
		"scala": 0,
		"primario": 0
	},
	"usr_vname": {
		"columna": "usr_vname",
		"predeterminado": null,
		"IS_NULLABLE": "NO",
		"datatype": "varchar",
		"maxlength": 60,
		"nsize": 0,
		"scala": 0,
		"primario": 0
	},
	"cia_nid": {
		"columna": "cia_nid",
		"predeterminado": null,
		"IS_NULLABLE": "NO",
		"datatype": "int",
		"maxlength": 0,
		"nsize": 10,
		"scala": 0,
		"primario": 0
	}
}
			_user_operation : {
				assigned : "assigned",
				uop_nid : "uop_nid",
				usr_nid : "usr_nid",
				op_nid : "op_nid",
				uop_dcreate : "uop_dcreate",
				uop_vopcs : "uop_vopcs",
				mdu_vcod : "mdu_vcod",
				op_vcod : "op_vcod",
				op_vname : "op_vname",
				op_vtype : "op_vtype",
				usr_vname : "usr_vname",
				cia_nid : "cia_nid",
				assigned_ph : "assigned_txt" ,
				uop_nid_ph : "uop_nid_txt" ,
				usr_nid_ph : "usr_nid_txt" ,
				op_nid_ph : "op_nid_txt" ,
				uop_dcreate_ph : "uop_dcreate_txt" ,
				uop_vopcs_ph : "uop_vopcs_txt" ,
				mdu_vcod_ph : "mdu_vcod_txt" ,
				op_vcod_ph : "op_vcod_txt" ,
				op_vname_ph : "op_vname_txt" ,
				op_vtype_ph : "op_vtype_txt" ,
				usr_vname_ph : "usr_vname_txt" ,
				cia_nid_ph : "cia_nid_txt" ,
				_user_operationtxtlabel : "_user_operationtxtlabel" ,
				_user_operationtxtph : "_user_operationtxtph" ,
				tit : "Titulo _user_operation" ,
				assigned_th : "assigned_txt" ,
				uop_nid_th : "uop_nid_txt" ,
				usr_nid_th : "usr_nid_txt" ,
				op_nid_th : "op_nid_txt" ,
				uop_dcreate_th : "uop_dcreate_txt" ,
				uop_vopcs_th : "uop_vopcs_txt" ,
				mdu_vcod_th : "mdu_vcod_txt" ,
				op_vcod_th : "op_vcod_txt" ,
				op_vname_th : "op_vname_txt" ,
				op_vtype_th : "op_vtype_txt" ,
				usr_vname_th : "usr_vname_txt" ,
				cia_nid_th : "cia_nid_txt" ,
				assigned_rq : "assigned_txt es invalido" ,
				uop_nid_rq : "uop_nid_txt es invalido" ,
				usr_nid_rq : "usr_nid_txt es invalido" ,
				op_nid_rq : "op_nid_txt es invalido" ,
				uop_dcreate_rq : "uop_dcreate_txt es invalido" ,
				uop_vopcs_rq : "uop_vopcs_txt es invalido" ,
				mdu_vcod_rq : "mdu_vcod_txt es invalido" ,
				op_vcod_rq : "op_vcod_txt es invalido" ,
				op_vname_rq : "op_vname_txt es invalido" ,
				op_vtype_rq : "op_vtype_txt es invalido" ,
				usr_vname_rq : "usr_vname_txt es invalido" ,
				cia_nid_rq : "cia_nid_txt es invalido" 
			},

				body
				div(class="content-heading") {{'frm._user_operation.tit' | translate}}
				.row
					.col-sm-5
						.card.card-default
							.card-header
								span {{"frm._user_operation.frmtit" | translate}}
								a.text-muted.float-right(tooltip="{{'rot.reload' | translate}}",  (click)= "reload($event)")
									em.icon-reload
								.text-muted.float-right
									| &nbsp; &nbsp;
								a.text-muted.float-right(tooltip="{{'rot.new' | translate}}", (click)= "resetForm($event)")
									em.icon-doc
							.card-body
								form.form-validate.mb-3(role="form")
									//- ****************************************** -//
								//- *********** assigned ************ -//
								.form-group
									label {{'frm._user_operation.assigned' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm._user_operation.assigned_ph' | translate}}", [(ngModel)]= "frmdata.assigned", name="assigned")
									.text-danger(*ngIf="assigned.errors?.required && (assigned.dirty || assigned.touched)") {{'frm._user_operation.assigned_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** uop_nid ************ -//
								.form-group
									label {{'frm._user_operation.uop_nid' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm._user_operation.uop_nid_ph' | translate}}", [(ngModel)]= "frmdata.uop_nid", name="uop_nid")
									.text-danger(*ngIf="uop_nid.errors?.required && (uop_nid.dirty || uop_nid.touched)") {{'frm._user_operation.uop_nid_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** usr_nid ************ -//
								.form-group
									label {{'frm._user_operation.usr_nid' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm._user_operation.usr_nid_ph' | translate}}", [(ngModel)]= "frmdata.usr_nid", name="usr_nid")
									.text-danger(*ngIf="usr_nid.errors?.required && (usr_nid.dirty || usr_nid.touched)") {{'frm._user_operation.usr_nid_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** op_nid ************ -//
								.form-group
									label {{'frm._user_operation.op_nid' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm._user_operation.op_nid_ph' | translate}}", [(ngModel)]= "frmdata.op_nid", name="op_nid")
									.text-danger(*ngIf="op_nid.errors?.required && (op_nid.dirty || op_nid.touched)") {{'frm._user_operation.op_nid_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** uop_dcreate ************ -//
								.form-group
									label {{'frm._user_operation.uop_dcreate' | translate}} :
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** uop_vopcs ************ -//
								.form-group
									label {{'frm._user_operation.uop_vopcs' | translate}} :
									.input-group.with-focus
										input.form-control(type="text", placeholder="{{'frm._user_operation.uop_vopcs_ph' | translate}}", [(ngModel)]="frmdata.uop_vopcs", name="uop_vopcs", #uop_vopcs="ngModel", required, minlength="2", maxlength="150")
									.text-danger(*ngIf="(uop_vopcs.errors?.required || uop_vopcs.errors ?.minlength) && (uop_vopcs.dirty || uop_vopcs.touched)") {{'frm._user_operation.uop_vopcs_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** mdu_vcod ************ -//
								.form-group
									label {{'frm._user_operation.mdu_vcod' | translate}} :
									.input-group.with-focus
										input.form-control(type="text", placeholder="{{'frm._user_operation.mdu_vcod_ph' | translate}}", [(ngModel)]="frmdata.mdu_vcod", name="mdu_vcod", #mdu_vcod="ngModel", required, minlength="2", maxlength="3")
									.text-danger(*ngIf="(mdu_vcod.errors?.required || mdu_vcod.errors ?.minlength) && (mdu_vcod.dirty || mdu_vcod.touched)") {{'frm._user_operation.mdu_vcod_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** op_vcod ************ -//
								.form-group
									label {{'frm._user_operation.op_vcod' | translate}} :
									.input-group.with-focus
										input.form-control(type="text", placeholder="{{'frm._user_operation.op_vcod_ph' | translate}}", [(ngModel)]="frmdata.op_vcod", name="op_vcod", #op_vcod="ngModel", required, minlength="2", maxlength="10")
									.text-danger(*ngIf="(op_vcod.errors?.required || op_vcod.errors ?.minlength) && (op_vcod.dirty || op_vcod.touched)") {{'frm._user_operation.op_vcod_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** op_vname ************ -//
								.form-group
									label {{'frm._user_operation.op_vname' | translate}} :
									.input-group.with-focus
										input.form-control(type="text", placeholder="{{'frm._user_operation.op_vname_ph' | translate}}", [(ngModel)]="frmdata.op_vname", name="op_vname", #op_vname="ngModel", required, minlength="2", maxlength="100")
									.text-danger(*ngIf="(op_vname.errors?.required || op_vname.errors ?.minlength) && (op_vname.dirty || op_vname.touched)") {{'frm._user_operation.op_vname_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** op_vtype ************ -//
								.form-group
									label {{'frm._user_operation.op_vtype' | translate}} :
									.input-group.with-focus
										input.form-control(type="text", placeholder="{{'frm._user_operation.op_vtype_ph' | translate}}", [(ngModel)]="frmdata.op_vtype", name="op_vtype", #op_vtype="ngModel", required, minlength="2", maxlength="3")
									.text-danger(*ngIf="(op_vtype.errors?.required || op_vtype.errors ?.minlength) && (op_vtype.dirty || op_vtype.touched)") {{'frm._user_operation.op_vtype_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** usr_vname ************ -//
								.form-group
									label {{'frm._user_operation.usr_vname' | translate}} :
									.input-group.with-focus
										input.form-control(type="text", placeholder="{{'frm._user_operation.usr_vname_ph' | translate}}", [(ngModel)]="frmdata.usr_vname", name="usr_vname", #usr_vname="ngModel", required, minlength="2", maxlength="60")
									.text-danger(*ngIf="(usr_vname.errors?.required || usr_vname.errors ?.minlength) && (usr_vname.dirty || usr_vname.touched)") {{'frm._user_operation.usr_vname_rq' | translate}}
								//- ******************************************
								


								//- ****************************************** -//
								//- *********** cia_nid ************ -//
								.form-group
									label {{'frm._user_operation.cia_nid' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm._user_operation.cia_nid_ph' | translate}}", [(ngModel)]= "frmdata.cia_nid", name="cia_nid")
									.text-danger(*ngIf="cia_nid.errors?.required && (cia_nid.dirty || cia_nid.touched)") {{'frm._user_operation.cia_nid_rq' | translate}}
								//- ******************************************
								


									button.btn.btn-success.mb-xs(role="button", (click) = "saveBtn($event)")
										i.big-check
										| {{'btns.safe' | translate}}

					.col-md-7
						input.form-control.form-control-rounded(type='text',
							placeholder='{{"rot.filter" | translate}}',
							style='padding:8px;margin:0px auto 10px auto;width:90%;',
							(keyup)='updateFilter($event)',
							[(ngModel)]="filterstr")

						ngx-datatable.material.fullscreen(
							#table='',
							[rows]='filterRslt',
							[columnMode]="'force'",
							[headerHeight]="50",
							[footerHeight]="50",
							[sortType]="'multi'",
							[rowHeight]="40",
							[scrollbarV]="false",
							[scrollbarH]="true",
							[reorderable]="true",
							[swapColumns]="false",
							[limit]="10",
							[loadingIndicator]="loadingIndicator")
							ngx-datatable-column(
								name="Edit",
								[width]='55',
								[sortable]="false",
								[canAutoResize]="false",
								[draggable]="false",
								[resizeable]="false")
								ng-template(let-row="row", ngx-datatable-cell-template="")
								button.btn.btn-sm.btn-outline-info((click)="editBtn($event,row)", tooltip= "{{'btns.edit' | translate}}")
								i.icon.fa.fa-edit
								ngx-datatable-column(name="{{'frm._user_operation.assigned' | translate}}", prop="assigned", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.uop_nid' | translate}}", prop="uop_nid", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.usr_nid' | translate}}", prop="usr_nid", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.op_nid' | translate}}", prop="op_nid", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.uop_dcreate' | translate}}", prop="uop_dcreate", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.uop_vopcs' | translate}}", prop="uop_vopcs", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.mdu_vcod' | translate}}", prop="mdu_vcod", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.op_vcod' | translate}}", prop="op_vcod", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.op_vname' | translate}}", prop="op_vname", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.op_vtype' | translate}}", prop="op_vtype", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.usr_vname' | translate}}", prop="usr_vname", [width]='auto')
							ngx-datatable-column(name="{{'frm._user_operation.cia_nid' | translate}}", prop="cia_nid", [width]='auto')


						.form-group
							label {{'frm._user_operation._user_operationtxtlabel' | translate}} :
							app-_user_operationtext(
								placeholder = "{{'frm._user_operation._user_operationtxtph' | translate}}",
								[isSearchable] = "true",
								[value] = "setters.undefined",
								[filtro] ='null',
								(onChange) = "_user_operationChange($event)" )
	// *********************************************************************
	// ###### AGREGAR AL communicator SERVICE  ######
	// *********************************************************************

	// TODOS LOS EVENTOS HTTP PARA *** _USER_OPERATION ***
	// _________________________________________________________________________
		set_user_operation(body: Object) {
			body = body || {};
			return this.http.post('/backpani/s_user_operation', body).map(this.setterFnOk);
		};
		get_user_operation(body: any) {
			body = (body && body.hasOwnProperty('scope')) ? body : Object.assign(body || {}, { scope: "CIA" });
			return this.http.post('/backpani/g_user_operation', body).map(this.setterFnOk);
		}
		del_user_operation(body: Object) {
			body = body || {};
			return this.http.post('/backpani/d_user_operation', body).map(this.setterFnOk);
		};
	// |\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/



	// *********************************************************************
	// ###### AGREGAR AL ROUTER DE Express  ######
	// *********************************************************************
	// TODAS LAS RUTAS PARA *** _USER_OPERATION ***
	// _________________________________________________________________________
		r.post('/d_user_operation', candado, (req, res, next) => {
			process_user_operation("d_user_operation",req, res)
		});
		r.post('/s_user_operation', candado, (req, res, next) => {
			process_user_operation("s_user_operation",req, res)
		});
		let process_user_operation = (keysql,req, res) => {
			if	(_SQL.hasOwnProperty(keysql)){
				_SQL[keysql](req.body, req.session)
				.then((datos) => {
					try {
						RAM._user_operation({ match: req.session.user }, 1).then((res) => {
							req.app.io.in('cia_' + req.session.user.cia_nid).emit('dbquery', Object.assign({ origen: '_user_operation' }, res));
						});
					} catch (ex) {
						console.log(ex);
						req.app.io.in('session_' + req.session.id).emit('backendError',{msg:"backend.EX003", err: ex});
					}
					res.send(datos);
				}, (datos) => { run.fail(datos, res, req) })
			}else{
				res.send({type: 'paramsError', msg: "backend.EX001", error: {key: keysql } });
			}
		};
		r.post('/g_user_operation', candado, (req, res, next) => {
			_SQL.g_user_operation(req.body, req.session)
			.then((data) => {
				run.resolvestd(data, res, req)
			})
			.catch((data) => {
				run.fail(data,res,req);
			})
		});
	// |\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/


	// *********************************************************************
	// ###### AGREGAR A LA LIBRERIA SQL  ######
	// *********************************************************************
	// Metodos SQL PARA *** _USER_OPERATION ***
	// _________________________________________________________________________
		sql.s_user_operation = (body, session) => {
			body = body || {};
			let deferred = q.defer();

			//⬇⬇⬇⬇⬇⬇⬇Si la Tabla requiere cia_nid la siguiente linea comprueba su existencia ⬇⬇⬇⬇⬇⬇
			body['cia_nid'] = session.user.cia_nid;
			//⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆
			let params = {
				data:body,
				table:'_user_operation',
				key:'',
				where: null,
				return: '*' //<-usar * para devolcer todo el row afectado o insertado
			};
			run.upsert('BS',params, 's_user_operation')
			.then(x => {
				deferred.resolve(x)
			}).catch((res) => {
				deferred.reject(res);
			});
			return deferred.promise;
		};
		sql.g_user_operation=(options,session)=>{
			return new Promise((resolve, reject)=>{
				try{
					if (!(options && options.scope)){
						reject({type: 'dataError', msg: "backend.EX004", error : options });
					}
					let strsql = "";
					!options.hasOwnProperty('match') && (options['match'] = session.user.cia_nid);
					switch(options.scope){
						case 'CIA':
							strsql = SqlString.format('SELECT assigned, uop_nid, usr_nid, op_nid, uop_dcreate, uop_vopcs, mdu_vcod, op_vcod, op_vname, op_vtype, usr_vname, cia_nid FROM _user_operation  WHERE _bsts = 1 AND cia_nid = ? ORDER BY   DESC', [options.match]);
							break;
						case 'CIAALL':
							strsql = SqlString.format('SELECT assigned, uop_nid, usr_nid, op_nid, uop_dcreate, uop_vopcs, mdu_vcod, op_vcod, op_vname, op_vtype, usr_vname, cia_nid FROM _user_operation  WHERE cia_nid = ? ORDER BY   DESC', [options.match]);
							break;
						case 'ALL':
							strsql = 'SELECT assigned, uop_nid, usr_nid, op_nid, uop_dcreate, uop_vopcs, mdu_vcod, op_vcod, op_vname, op_vtype, usr_vname, cia_nid FROM _user_operation  ORDER BY  DESC';
							break;
						default:
							process.nextTick(()=>{
								reject({type: 'dataError', msg: "backend.EX001", error : options });
							});
							return;
					}; //==>> Guarda el resultado final del HTML

					run.query('BS',strsql, 'g_user_operation').then(data=>{
						try{
							resolve(data);
						}catch(ex){
							console.log(ex);
						}
					}).catch(err => {
						reject(err);
					});
				}catch(ex){
					console.log(ex)
				}
			});
		};
		sql.d_user_operation = (body, session) => {
			body = body || {};

			let cia_nid = session.cia_nid;
			if (session.user && session.user.usr_nsuper*1 == 1) {
				if (body.cia_nid) {
					cia_nid = body.cia_nid
				}
			}

			let deferred = q.defer();
			let params = {
				table: '_user_operation',
				key: '',
				value: body.,
				reqCia: true,
				cia: cia_nid
			};
			run.delete(params, 'd_user_operation')
				.then(
				x => {
					deferred.resolve(x)
				}
				)
				.catch(
				(res) => {
					deferred.reject(res);
				}
				);
			return deferred.promise;
		};
	// |\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/

	// Metodos RAM_DB *** _USER_OPERATION ***
	// _________________________________________________________________________
		ramdata._user_operation = (qryp, strict) => {
			let deferred = q.defer();
			!repo.hasOwnProperty('_user_operation') && (repo['_user_operation'] = {});

			let cia_nid = qryp.match.cia_nid;
			!repo._user_operation.hasOwnProperty(cia_nid) && (repo._user_operation[cia_nid] = [] );
			if ((repo._user_operation[cia_nid].length == 0) || (strict && strict == 1)) {
				try {
					_SQL.g_user_operation({
						scope: 'CIA',
						match: cia_nid
					})
						.then((res) => {
							resolvestd(res, qryp, "_user_operation", deferred)
						})
						.catch((res) => {
							console.log("No hay respuesta");
							deferred.reject(res);
						})
				} catch (ex) {
					console.log(ex);
				}
			} else {
				process.nextTick(() => {
					deferred.resolve({ type: "ok", datos: repo._user_operation[cia_nid], qrtype: 'RAM' });
				});
			}
			return deferred.promise;
		};
	// |\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/


	// Para el Component de busqueda Usar comando
	// ng g c shared/components/_user_operationtext
	// ng g c routes/*&***&**/_user_operation
	_user_operationChange(e){
		if (e) {
			this.frmdata.undefined = e.undefined;
		}else{
			this.frmdata.undefined = null;
		}
	}
	//Esto va en la funcion Edit ⬇⬇⬇
	this.setters.undefined = { undefined: rw["undefined"]};
	// Setter dede incluir
	//public setters={ undefined : null, }
	//
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&

			import { Component, EventEmitter, Input, Output, OnInit, OnDestroy } from '@angular/core';
			import { RamdataService } from '@shared/services/ramdata.service';
			import { FrmworkService } from '@shared/services/frmwork.service';
			import { SettingsService } from '@core/settings/settings.service';
			import { Subject } from 'rxjs/Subject';

			@Component({
				selector: 'app-_user_operationtext',
				template: `
					<ng-select
					[items]="items"
				placeholder = "{{placeholder}}"
				[searchable] = "isSearchable"
				[searchFn] = "_buscar"
					(clear) = "_clear()"
						(change) = "_onChange($event)"
				loadingText = "Bigtrack ... "
				[(ngModel)] = "_value"
					>
					<ng-template ng-option-tmp let-item="item">
						{{ item.label }}:{{ item.id }}<br />
						<small>{{ item.text }}</small>
					</ng-template>
					</ng-select >
				`
			})
			export class _user_operationtextComponent implements OnInit {
				private destroy$: Subject<boolean> = new Subject<boolean>();
				public items: Array<Object> = [];
				public _filtro: Object = null;
				public _value: Object = {};
				public rawData = [];

				@Input() placeholder: String = "Seleccione &&&&&";
				@Input() isSearchable:boolean = true;

				public lastValue:object = null
				@Input("value")
				set value(e: Object) {
					this.applyFilter(e);
					this.lastValue = e;
				};
				applyFilter(e){
					if (e && e["undefined"]) {
						let rw: any = this.rawData.find( (el:any) => el.hasOwnProperty('undefined') && el['undefined'] == e['undefined'] );
						if (rw !== undefined) {
							this._value = {
								id: rw.undefined,
								label: rw.labelField&&&,
								text: rw.textField&&&,
							};
							return;
						}
					}
					this._value = {};
				}

				@Input("filtro")
				set filtro(e: Object) {
					let ittm = this.items;
					if (!!e) {
						this._filtro = e;
						ittm = this.dataTransform(this.rawData);
					}else{
						!!this._filtro && (this._filtro = null) || (ittm  = this.dataTransform(this.rawData))
						this._filtro = null;
					}
					this.items = [...ittm];
				}
				@Output()
				onChange = new EventEmitter();
				constructor(public fwk: FrmworkService, public ram: RamdataService, private setting :SettingsService) {}
				_onChange(e){
					try {
						if (!e) { this.onChange.emit(null); return; }
						let rw: any = this.rawData.find((el: any) => el.hasOwnProperty('undefined') && el['undefined'] == e['id']);
						this.onChange.emit(rw);
					} catch (error) {
						console.error(error);
					}
				}
				_clear(){
					this.onChange.emit(null);
				}
				_buscar(term: string, item: any) {
					try{
						!!term && (term = term.toLocaleLowerCase());
						return item.label.toLocaleLowerCase().indexOf(term) > -1 || item.text.toLocaleLowerCase().indexOf(term) >-1 || item.id.toString() == term;
					}catch(ex){
						return false;
					}
				}
				dataTransform(data:Array<{}>):Array<{}>{
					try {
						let filtered = data;
						if (this._filtro) {
							filtered = data.filter(el=>{
								for (const key in this._filtro) {
									if(el.hasOwnProperty(key)){
										if (el[key] !== this._filtro[key]) return false;
									}else{
										return false;
									}
								}
								return true;
							});
						}
						return filtered.map(el=> {
							return {
								id: el['undefined'],
								label: el['labelField&&&'],
								text: el["textField&&&"]}
						});
					} catch (error) {
						console.error(error);
						return [];
					}
				}
				ngOnInit() {

					this.ram.getDatos("_user_operation").takeUntil(this.destroy$).subscribe(data => {
						this.rawData = data;
						this.items = [...this.dataTransform(data)];
						this.applyFilter(this.lastValue);
					});
				}
				ngOnDestroy() {
					this.destroy$.next(true);
					this.destroy$.unsubscribe();
				};
			}

// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
	