
	doctype html
	html
	head
		script(type='text/javascript')
			import { Component, OnInit, ViewEncapsulation, ViewChild, OnDestroy, NgZone } from '@angular/core';
			import { TranslateService } from '@ngx-translate/core';

			import { FrmworkService } from "@shared/services/frmwork.service";
			import { CommunicatorService } from "@shared/services/communicator.service";
			import { RamdataService } from "@shared/services/ramdata.service";
			import { SettingsService } from "@core/settings/settings.service";
			import { DatatableComponent } from "@swimlane/ngx-datatable"

			import { Subject } from 'rxjs/Subject';
			import { BehaviorSubject } from 'rxjs/BehaviorSubject';
			const swal = require('sweetalert');
			declare let jQuery: any;
			@Component({
				selector: 'app-depto',
				templateUrl: './depto.component.html',
				styleUrls: ['./depto.component.scss']
			})
			export class DeptoComponent implements OnInit, OnDestroy {
				private destroy$: Subject<boolean> = new Subject<boolean>();
				public rows = [];
				public filterRslt = [];
				public filterstr = "";
				public filterTimer = null;
				loadingIndicator: boolean = true;

							public frmdata = {
				dep_nid : 0 ,
				dep_vname :  ''  ,
				dep_vabbrev : ('') ,
				dep_nlevel : 0 ,
				dep_nfather : 0 ,
				dep_norder : 0 ,
				dep_nlevel1 : 0 ,
				dep_nlevel2 : 0 ,
				dep_nlevel3 : 0 ,
				cia_nid : 0 ,
				dep_bsts : '0'
			};
			public setters = {

			};

				// public isSuper = false; // =>> Si la tabla requiere identificacion por Compañias

				@ViewChild("table") table : DatatableComponent;
				constructor(
					public fwk: FrmworkService, private translate: TranslateService,
					public ram: RamdataService, public communicator: CommunicatorService,
					public settings: SettingsService,
					public zn: NgZone){

					// Si la tabla requiere identificacion por Compañias
					this.settings.credencialesS.takeUntil(this.destroy$).subscribe(x=>{
						try{
							this.frmdata.cia_nid = x['user']['cia_nid'];
						}catch(ex){
							this.frmdata.cia_nid = 0;
						}
					});

					this.ram.getDatos("depto").takeUntil(this.destroy$).subscribe(data => {
						zn.run(()=>{
							this.rows = data;
							this.updateFilter(null);
						});
					});
					this.resetForm(null);
				}

				editBtn(e,rw){
					e && e.preventDefault();

					this.resetForm(null);
					for (let key in rw) {
						if (this.frmdata.hasOwnProperty(key)) {
							this.frmdata[key] = rw[key];
						}
					};
					this.frmdata.**_bsts = rw.**_bsts ? '1' : '0';
					// Sugerencia de edicion pata los tags

				};
				viewBtn(e, rw) {
					e && e.preventDefault();
				};
				delBtn(e, rw) {
					e && e.preventDefault();
					// if (rw.ESTADO  !=  0) {
					// 	swal(
					// 		'Ops',
					// 		this.translate.instant('ALGUN ERROR POR RESTRICCION DE BORRADO'),
					// 		'warning'
					// 	)
					// 	return;
					// }
					swal({
						title: this.translate.instant('rotulos.swal.deltit'),
						text: this.translate.instant('rotulos.swal.delquest'),
						type: 'warning',
						showCancelButton: true,
						confirmButtonText: this.translate.instant('rotulos.swal.yesdel'),
						cancelButtonText: 'No.'
					}).then((result) => {
						if (result.value) {
							this.communicator.delDepto(rw).subscribe(x => {
								// console.log(x);
								if (x.hasOwnProperty('type') && x['type'] == 'ok') {
									swal(
										'Deleted',
										'Ok!',
										'success'
									)
								}else{
									swal(
										'Ops',
										this.translate.instant(x['msg']) || "Somthing wrong...",
										'warning'
									)
								}
							});
						}
					});
				};
				saveBtn(e) {
					e && e.preventDefault();
					// ***** los tags a String en caso que existan

					// *******************************************************
					// VALIDAR LA INFORMACION ANTES DE HACER EL POST
					// *******************************************************
					let paso = true;
					!this.fwk.validInt(this.frmdata.dep_nid, 0, null) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_nid_rq')) )
				!this.fwk.validString(this.frmdata.dep_vname, 2, 50) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_vname_rq')) )
				!this.fwk.validString(this.frmdata.dep_vabbrev, 2, 6) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_vabbrev_rq')) )
				!this.fwk.validInt(this.frmdata.dep_nlevel, 0, null) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_nlevel_rq')) )
				!this.fwk.validInt(this.frmdata.dep_nfather, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_nfather_rq')) )
				!this.fwk.validInt(this.frmdata.dep_norder, 0, null) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_norder_rq')) )
				!this.fwk.validInt(this.frmdata.dep_nlevel1, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_nlevel1_rq')) )
				!this.fwk.validInt(this.frmdata.dep_nlevel2, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_nlevel2_rq')) )
				!this.fwk.validInt(this.frmdata.dep_nlevel3, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.dep_nlevel3_rq')) )
				!this.fwk.validInt(this.frmdata.cia_nid, 0, 2147483647) && ( (paso = false) || this.fwk.toast('warning', 'BigTrack', this.translate.instant('frm.depto.cia_nid_rq')) )

					if	(paso){
						this.communicator.setDepto(this.frmdata).subscribe(x => {
							x.datos.recordset && x.datos.recordset[0] && x.datos.recordset[0].lastid && (this.frmdata.dep_nid = x.datos.recordset[0].lastid);
						});
					}
				};
				resetForm(e) {
					e && e.preventDefault();
					// resetear con la formdata
				};
				updateFilter(e) {
					this.loadingIndicator = true;
					e && e.hasOwnProperty('preventDefault') && e.preventDefault();
					this.filterTimer && clearTimeout(this.filterTimer)
					this.filterTimer = setTimeout(() => {
						if (this.filterstr.trim().length>0)
							this.filterRslt = this.rows.filter((val, idx, arr)=>{
								return Object.keys(val).reduce((acum,current,idx)=>{
									val[current] && (acum = acum + '_' + val[current].toString());
									return acum;
								}, "").toUpperCase().indexOf(this.filterstr.toUpperCase()) > -1
							})
						else {this.filterRslt = this.rows}
						setTimeout(() => {
							this.loadingIndicator = false;
						}, 200);
					}, 700);
				}

				reload(e){
					e && e.preventDefault();
					this.loadingIndicator = true;
					if (e  && e.altKey) {
						this.communicator.getDepto(null).subscribe(x => {
							x && x.hasOwnProperty('type') && x.type == 'ok' &&  (this.rows = x.datos);
							this.updateFilter(null);
						});
					}else
						this.ram.getDatos("depto",1,1);
				}
				ngOnInit() {
				};
				ngOnDestroy() {
					this.destroy$.next(true);
					this.destroy$.unsubscribe();
				};



				body
				div(class="content-heading") {{'frm.depto.tit' | translate}}
				.row
					.col-sm-5
						.card.card-default
							.card-header
								span {{"frm.depto.frmtit" | translate}}
								a.text-muted.float-right(tooltip="{{'rot.reload' | translate}}",  (click)= "reload($event)")
									em.icon-reload
								.text-muted.float-right
									| &nbsp; &nbsp;
								a.text-muted.float-right(tooltip="{{'rot.new' | translate}}", (click)= "resetForm($event)")
									em.icon-doc
							.card-body
								form.form-validate.mb-3(role="form")
									//- ****************************************** -//
								//- *********** dep_nid ************ -//
								//- PrimaryKey Hiden
								input.form-control(type="hidden", readonly, [(ngModel)]= "frmdata.dep_nid", name="dep_nid")
								//- PrimaryKey Visible
								.form-group
									label {{'frm.depto.dep_nid' | translate}} :
									input.form-control(type="number", placeholder="{{'frm.depto.dep_nid_ph' | translate}}", readonly, [(ngModel)]= "frmdata.dep_nid", name="dep_nid")
									.text-danger(*ngIf="(dep_nid.errors?.required ) && (dep_nid.dirty || dep_nid.touched)") {{'frm.depto.dep_nid_rq' | translate}}
								//- ******************************************

								//- ****************************************** -//
								//- *********** dep_vname ************ -//
								.form-group
									label {{'frm.depto.dep_vname' | translate}} :
									.input-group.with-focus
										input.form-control(type="text", placeholder="{{'frm.depto.dep_vname_ph' | translate}}", [(ngModel)]="frmdata.dep_vname", name="dep_vname", #dep_vname="ngModel", required, minlength="2", maxlength="50")
									.text-danger(*ngIf="(dep_vname.errors?.required || dep_vname.errors ?.minlength) && (dep_vname.dirty || dep_vname.touched)") {{'frm.depto.dep_vname_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** dep_vabbrev ************ -//
								.form-group
									label {{'frm.depto.dep_vabbrev' | translate}} :
									.input-group.with-focus
										input.form-control(type="text", placeholder="{{'frm.depto.dep_vabbrev_ph' | translate}}", [(ngModel)]="frmdata.dep_vabbrev", name="dep_vabbrev", #dep_vabbrev="ngModel", required, minlength="2", maxlength="6")
									.text-danger(*ngIf="(dep_vabbrev.errors?.required || dep_vabbrev.errors ?.minlength) && (dep_vabbrev.dirty || dep_vabbrev.touched)") {{'frm.depto.dep_vabbrev_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** dep_nlevel ************ -//
								.form-group
									label {{'frm.depto.dep_nlevel' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",min="-99", max="99", step="any", placeholder="{{'frm.depto.dep_nlevel_ph' | translate}}", [(ngModel)]= "frmdata.dep_nlevel", #dep_nlevel="ngModel", name="dep_nlevel")
										input.form-control(type="number",min="0.00", max="99", step="any", placeholder="{{'frm.depto.dep_nlevel_ph' | translate}}", [(ngModel)]= "frmdata.dep_nlevel", #dep_nlevel="ngModel", name="dep_nlevel")
									.text-danger(*ngIf="(dep_nlevel.errors?.required ) && (dep_nlevel.dirty || dep_nlevel.touched)") {{'frm.depto.dep_nlevel_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** dep_nfather ************ -//
								.form-group
									label {{'frm.depto.dep_nfather' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm.depto.dep_nfather_ph' | translate}}", [(ngModel)]= "frmdata.dep_nfather", name="dep_nfather")
									.text-danger(*ngIf="dep_nfather.errors?.required && (dep_nfather.dirty || dep_nfather.touched)") {{'frm.depto.dep_nfather_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** dep_norder ************ -//
								.form-group
									label {{'frm.depto.dep_norder' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",min="-999", max="999", step="any", placeholder="{{'frm.depto.dep_norder_ph' | translate}}", [(ngModel)]= "frmdata.dep_norder", #dep_norder="ngModel", name="dep_norder")
										input.form-control(type="number",min="0.00", max="999", step="any", placeholder="{{'frm.depto.dep_norder_ph' | translate}}", [(ngModel)]= "frmdata.dep_norder", #dep_norder="ngModel", name="dep_norder")
									.text-danger(*ngIf="(dep_norder.errors?.required ) && (dep_norder.dirty || dep_norder.touched)") {{'frm.depto.dep_norder_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** dep_nlevel1 ************ -//
								.form-group
									label {{'frm.depto.dep_nlevel1' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm.depto.dep_nlevel1_ph' | translate}}", [(ngModel)]= "frmdata.dep_nlevel1", name="dep_nlevel1")
									.text-danger(*ngIf="dep_nlevel1.errors?.required && (dep_nlevel1.dirty || dep_nlevel1.touched)") {{'frm.depto.dep_nlevel1_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** dep_nlevel2 ************ -//
								.form-group
									label {{'frm.depto.dep_nlevel2' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm.depto.dep_nlevel2_ph' | translate}}", [(ngModel)]= "frmdata.dep_nlevel2", name="dep_nlevel2")
									.text-danger(*ngIf="dep_nlevel2.errors?.required && (dep_nlevel2.dirty || dep_nlevel2.touched)") {{'frm.depto.dep_nlevel2_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** dep_nlevel3 ************ -//
								.form-group
									label {{'frm.depto.dep_nlevel3' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm.depto.dep_nlevel3_ph' | translate}}", [(ngModel)]= "frmdata.dep_nlevel3", name="dep_nlevel3")
									.text-danger(*ngIf="dep_nlevel3.errors?.required && (dep_nlevel3.dirty || dep_nlevel3.touched)") {{'frm.depto.dep_nlevel3_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** cia_nid ************ -//
								.form-group
									label {{'frm.depto.cia_nid' | translate}} :
									.input-group.with-focus
										input.form-control(type="number",required ,min="-2147483648", max="2147483647", placeholder="{{'frm.depto.cia_nid_ph' | translate}}", [(ngModel)]= "frmdata.cia_nid", name="cia_nid")
									.text-danger(*ngIf="cia_nid.errors?.required && (cia_nid.dirty || cia_nid.touched)") {{'frm.depto.cia_nid_rq' | translate}}
								//- ******************************************



								//- ****************************************** -//
								//- *********** dep_bsts ************ -//
								.form-group
									label {{'frm.depto.dep_bsts' | translate}} :
									//- CheckBoxsOptions
									br
									label.c-radio
										input#inlineradio1(type="radio", name="dep_bsts", value="0", [(ngModel)]="frmdata.dep_bsts", checked="checked")
										span.fa.fa-check
										| {{'frm.depto.dep_bsts0' | translate}}
									label.c-radio
										input#inlineradio1(type="radio", name="dep_bsts", value="1", [(ngModel)]="frmdata.dep_bsts" )
										span.fa.fa-check
										| {{'frm.depto.dep_bsts1' | translate}}
								//- ******************************************



									button.btn.btn-success.mb-xs(role="button", (click) = "saveBtn($event)")
										i.big-check
										| {{'btns.safe' | translate}}

					.col-md-7
						input.form-control.form-control-rounded(type='text',
							placeholder='{{"rot.filter" | translate}}',
							style='padding:8px;margin:0px auto 10px auto;width:90%;',
							(keyup)='updateFilter($event)',
							[(ngModel)]="filterstr")

						ngx-datatable.material.fullscreen(
							#table='',
							[rows]='filterRslt',
							[columnMode]="'force'",
							[headerHeight]="50",
							[footerHeight]="50",
							[sortType]="'multi'",
							[rowHeight]="40",
							[scrollbarV]="false",
							[scrollbarH]="true",
							[reorderable]="true",
							[swapColumns]="false",
							[limit]="10",
							[loadingIndicator]="loadingIndicator")
							ngx-datatable-column(
								name="Edit",
								[width]='55',
								[sortable]="false",
								[canAutoResize]="false",
								[draggable]="false",
								[resizeable]="false")
								ng-template(let-row="row", ngx-datatable-cell-template="")
									button.btn.btn-sm.btn-outline-info((click)="editBtn($event,row)", tooltip= "{{'btns.edit' | translate}}")
									i.icon.fa.fa-edit
							ngx-datatable-column(name="{{'frm.depto.dep_nid' | translate}}", prop="dep_nid", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_vname' | translate}}", prop="dep_vname", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_vabbrev' | translate}}", prop="dep_vabbrev", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_nlevel' | translate}}", prop="dep_nlevel", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_nfather' | translate}}", prop="dep_nfather", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_norder' | translate}}", prop="dep_norder", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_nlevel1' | translate}}", prop="dep_nlevel1", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_nlevel2' | translate}}", prop="dep_nlevel2", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_nlevel3' | translate}}", prop="dep_nlevel3", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.cia_nid' | translate}}", prop="cia_nid", [width]='auto')
							ngx-datatable-column(name="{{'frm.depto.dep_bsts' | translate}}", prop="dep_bsts", [width]='auto')


						.form-group
							label {{'frm.depto.deptotxtlabel' | translate}} :
							app-deptotext(
								placeholder = "{{'frm.depto.deptotxtph' | translate}}",
								[isSearchable] = "true",
								[value] = "setters.dep_nid",
								[filtro] ='null',
								(onChange) = "deptoChange($event)" )
	// *********************************************************************
	// ###### AGREGAR AL communicator SERVICE  ######
	// *********************************************************************

	// TODOS LOS EVENTOS HTTP PARA *** DEPTO ***
	// _________________________________________________________________________
		setDepto(body: Object) {
			body = body || {};
			return this.http.post('/backpani/sdepto', body).map(this.setterFnOk);
		};
		getDepto(body: any) {
			body = (body && body.hasOwnProperty('scope')) ? body : Object.assign(body || {}, { scope: "CIA" });
			return this.http.post('/backpani/gdepto', body).map(this.setterFnOk);
		}
		delDepto(body: Object) {
			body = body || {};
			return this.http.post('/backpani/ddepto', body).map(this.setterFnOk);
		};
	// |\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/



	// *********************************************************************
	// ###### AGREGAR AL ROUTER DE Express  ######
	// *********************************************************************
	// TODAS LAS RUTAS PARA *** DEPTO ***
	// _________________________________________________________________________
		r.post('/ddepto', candado, (req, res, next) => {
			processDepto("dDepto",req, res)
		});
		r.post('/sdepto', candado, (req, res, next) => {
			processDepto("sDepto",req, res)
		});
		let processDepto = (keysql,req, res) => {
			if	(_SQL.hasOwnProperty(keysql)){
				_SQL[keysql](req.body, req.session)
				.then((datos) => {
					try {
						RAM.depto({ match: req.session.user }, 1).then((res) => {
							req.app.io.in('cia_' + req.session.user.cia_nid).emit('dbquery', Object.assign({ origen: 'depto' }, res));
						});
					} catch (ex) {
						console.log(ex);
						req.app.io.in('session_' + req.session.id).emit('backendError',{msg:"backend.EX003", err: ex});
					}
					res.send(datos);
				}, (datos) => { run.fail(datos, res, req) })
			}else{
				res.send({type: 'paramsError', msg: "backend.EX001", error: {key: keysql } });
			}
		};
		r.post('/gdepto', candado, (req, res, next) => {
			_SQL.gDepto(req.body, req.session)
			.then((data) => {
				run.resolvestd(data, res, req)
			})
			.catch((data) => {
				run.fail(data,res,req);
			})
		});
	// |\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/


	// *********************************************************************
	// ###### AGREGAR A LA LIBRERIA SQL  ######
	// *********************************************************************
	// Metodos SQL PARA *** DEPTO ***
	// _________________________________________________________________________
		sql.sDepto = (body, session) => {
			body = body || {};
			let deferred = q.defer();

			//⬇⬇⬇⬇⬇⬇⬇Si la Tabla requiere cia_nid la siguiente linea comprueba su existencia ⬇⬇⬇⬇⬇⬇
			body['cia_nid'] = session.user.cia_nid;
			//⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆⬆
			let params = {
				data:body,
				table:'depto',
				key:'dep_nid',
				where: null,
				return: '*' //<-usar * para devolcer todo el row afectado o insertado
			};
			run.upsert('BS',params, 'sDepto')
			.then(x => {
				deferred.resolve(x)
			}).catch((res) => {
				deferred.reject(res);
			});
			return deferred.promise;
		};
		sql.gDepto=(options,session)=>{
			return new Promise((resolve, reject)=>{
				try{
					if (!(options && options.scope)){
						reject({type: 'dataError', msg: "backend.EX004", error : options });
					}
					let strsql = "";
					!options.hasOwnProperty('match') && (options['match'] = session.user.cia_nid);
					switch(options.scope){
						case 'CIA':
							strsql = SqlString.format('SELECT dep_nid, dep_vname, dep_vabbrev, dep_nlevel, dep_nfather, dep_norder, dep_nlevel1, dep_nlevel2, dep_nlevel3, cia_nid, dep_bsts FROM depto  WHERE _bsts = 1 AND cia_nid = ? ORDER BY dep_nid  DESC', [options.match]);
							break;
						case 'CIAALL':
							strsql = SqlString.format('SELECT dep_nid, dep_vname, dep_vabbrev, dep_nlevel, dep_nfather, dep_norder, dep_nlevel1, dep_nlevel2, dep_nlevel3, cia_nid, dep_bsts FROM depto  WHERE cia_nid = ? ORDER BY dep_nid  DESC', [options.match]);
							break;
						case 'ALL':
							strsql = 'SELECT dep_nid, dep_vname, dep_vabbrev, dep_nlevel, dep_nfather, dep_norder, dep_nlevel1, dep_nlevel2, dep_nlevel3, cia_nid, dep_bsts FROM depto  ORDER BY dep_nid DESC';
							break;
						default:
							reject({type: 'dataError', msg: "backend.EX001", error : options });
							return;
					}; //==>> Guarda el resultado final del HTML

					run.query('BS',strsql, 'gDepto').then(data=>{
						try{
							resolve(data);
						}catch(ex){
							console.log(ex);
						}
					}).catch(err => {
						reject(err);
					});
				}catch(ex){
					console.log(ex)
				}
			});
		};
		sql.dDepto = (body, session) => {
			body = body || {};

			let cia_nid = session.cia_nid;
			if (session.user && session.user.usr_nsuper*1 == 1) {
				if (body.cia_nid) {
					cia_nid = body.cia_nid
				}
			}

			let deferred = q.defer();
			let params = {
				table: 'depto',
				key: 'dep_nid',
				value: body.dep_nid,
				reqCia: true,
				cia: cia_nid
			};
			run.delete(params, 'dDepto')
				.then(
				x => {
					deferred.resolve(x)
				}
				)
				.catch(
				(res) => {
					deferred.reject(res);
				}
				);
			return deferred.promise;
		};
	// |\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/

	// Metodos RAM_DB *** DEPTO ***
	// _________________________________________________________________________
		ramdata.depto = (qryp, strict) => {
			let deferred = q.defer();
			!repo.hasOwnProperty('depto') && (repo['depto'] = {});

			let cia_nid = qryp.match.cia_nid;
			!repo.depto.hasOwnProperty(cia_nid) && (repo.depto[cia_nid] = [] );
			if ((repo.depto[cia_nid].length == 0) || (strict && strict == 1)) {
				try {
					_SQL.gDepto({
						scope: 'CIA',
						match: cia_nid
					})
						.then((res) => {
							resolvestd(res, qryp, "depto", deferred)
						})
						.catch((res) => {
							console.log("No hay respuesta");
							deferred.reject(res);
						})
				} catch (ex) {
					console.log(ex);
				}
			} else {
				process.nextTick(() => {
					deferred.resolve({ type: "ok", datos: repo.depto[cia_nid], qrtype: 'RAM' });
				});
			}
			return deferred.promise;
		};
	// |\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/|\-/


	// Para el Component de busqueda Usar comando
	// ng g c shared/components/deptotext
	// ng g c routes/*&***&**/depto
	deptoChange(e){
		if (e) {
			this.frmdata.dep_nid = e.dep_nid;
		}else{
			this.frmdata.dep_nid = null;
		}
	}
	//Esto va en la funcion Edit ⬇⬇⬇
	this.setters.dep_nid = { dep_nid: rw["dep_nid"]};
	// Setter dede incluir
	//public setters={ dep_nid : null, }
	//
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&

			import { Component, EventEmitter, Input, Output, OnInit, OnDestroy } from '@angular/core';
			import { RamdataService } from '@shared/services/ramdata.service';
			import { FrmworkService } from '@shared/services/frmwork.service';
			import { SettingsService } from '@core/settings/settings.service';
			import { Subject } from 'rxjs/Subject';

			@Component({
				selector: 'app-deptotext',
				template: `
					<ng-select
					[items]="items"
				placeholder = "{{placeholder}}"
				[searchable] = "isSearchable"
				[searchFn] = "_buscar"
					(clear) = "_clear()"
						(change) = "_onChange($event)"
				loadingText = "Bigtrack ... "
				[(ngModel)] = "_value"
					>
					<ng-template ng-option-tmp let-item="item">
						{{ item.label }}:{{ item.id }}<br />
						<small>{{ item.text }}</small>
					</ng-template>
					</ng-select >
				`
			})
			export class DeptotextComponent implements OnInit {
				private destroy$: Subject<boolean> = new Subject<boolean>();
				public items: Array<Object> = [];
				public _filtro: Object = null;
				public _value: Object = {};
				public rawData = [];

				@Input() placeholder: String = "Seleccione &&&&&";
				@Input() isSearchable:boolean = true;

				public lastValue:object = null
				@Input("value")
				set value(e: Object) {
					this.applyFilter(e);
					this.lastValue = e;
				};
				applyFilter(e){
					if (e && e["dep_nid"]) {
						let rw: any = this.rawData.find( (el:any) => el.hasOwnProperty('dep_nid') && el['dep_nid'] == e['dep_nid'] );
						if (rw !== undefined) {
							this._value = {
								id: rw.dep_nid,
								label: rw.labelField&&&,
								text: rw.textField&&&,
							};
							return;
						}
					}
					this._value = {};
				}

				@Input("filtro")
				set filtro(e: Object) {
					let ittm = this.items;
					if (!!e) {
						this._filtro = e;
						ittm = this.dataTransform(this.rawData);
					}else{
						!!this._filtro && (this._filtro = null) || (ittm  = this.dataTransform(this.rawData))
						this._filtro = null;
					}
					this.items = [...ittm];
				}
				@Output()
				onChange = new EventEmitter();
				constructor(public fwk: FrmworkService, public ram: RamdataService, private setting :SettingsService) {}
				_onChange(e){
					try {
						if (!e) { this.onChange.emit(null); return; }
						let rw: any = this.rawData.find((el: any) => el.hasOwnProperty('dep_nid') && el['dep_nid'] == e['id']);
						this.onChange.emit(rw);
					} catch (error) {
						console.error(error);
					}
				}
				_clear(){
					this.onChange.emit(null);
				}
				_buscar(term: string, item: any) {
					try{
						!!term && (term = term.toLocaleLowerCase());
						return item.label.toLocaleLowerCase().indexOf(term) > -1 || item.text.toLocaleLowerCase().indexOf(term) >-1 || item.id.toString() == term;
					}catch(ex){
						return false;
					}
				}
				dataTransform(data:Array<{}>):Array<{}>{
					try {
						let filtered = data;
						if (this._filtro) {
							filtered = data.filter(el=>{
								for (const key in this._filtro) {
									if(el.hasOwnProperty(key)){
										if (el[key] !== this._filtro[key]) return false;
									}else{
										return false;
									}
								}
								return true;
							});
						}
						return filtered.map(el=> {
							return {
								id: el['dep_nid'],
								label: el['labelField&&&'],
								text: el["textField&&&"]}
						});
					} catch (error) {
						console.error(error);
						return [];
					}
				}
				ngOnInit() {

					this.ram.getDatos("depto").takeUntil(this.destroy$).subscribe(data => {
						this.rawData = data;
						this.items = [...this.dataTransform(data)];
						this.applyFilter(this.lastValue);
					});
				}
				ngOnDestroy() {
					this.destroy$.next(true);
					this.destroy$.unsubscribe();
				};
			}

// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
// &&&&&&&&&&&&&&&&&&&&&&&&********************************&&&&&&&&&&&&&&&&&&
